@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
    background-color: lightcoral;
    padding: 80px; 
    text-align: center;
    border-radius: 10px;
    border: dotted;
    border-color: black;
    border-width: 5px;
 
}


#quote-body {
    border-style: dotted;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    background-color: white;
    font-family: monospace;
    font-size: 2.5em;
    padding: 40px;
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}

#quote-author {
    font-size: 1.75em;
    text-align: center;
    color: lightcoral;
    font-family: 'Homemade Apple', cursive;
}




body {
    background-color: lightgrey;
}

.left {
    display: block;
    position: relative; 
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;

}
